<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnpc.server.mapper.RetDicExplainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cnpc.server.pojo.RetDicExplain">
        <id column="id" property="id" />
        <result column="dicType" property="dicType" />
        <result column="dicValue" property="dicValue" />
        <result column="dicExplain" property="dicExplain" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dicType, dicValue, dicExplain
    </sql>

    <!--更新字典补充说明-->
    <update id="updateDicExplainInfo">
        UPDATE ret_dic_explain
        SET dicExplain = #{retDicExplain.dicExplain}
        WHERE
            dicType = #{retDicExplain.dicType}
          AND dicValue = #{retDicExplain.dicValue}
    </update>

    <!--&lt;!&ndash;新增补充说明&ndash;&gt;-->
    <!--<insert id="addDicExplainInfo">-->
    <!--    INSERT INTO ret_dic_explain(dicType, dicValue, dicExplain) VALUES-->
    <!--        (#{retDicExplain.dicType}, #{retDicExplain.dicValue}, #{retDicExplain.dicExplain})-->
    <!--</insert>-->


    <!--查询字典补充说明-->
    <select id="getDicExplainInfo" resultType="com.cnpc.server.pojo.RetDicExplain">
        SELECT
            *
        FROM
            ret_dic_explain
        WHERE
            dicType = #{dicType}
          AND dicValue = #{dicValue}
    </select>


</mapper>
