<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnpc.server.mapper.TodolistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cnpc.server.pojo.Todolist">
        <id column="id" property="id" />
        <result column="userID" property="userID" />
        <result column="todoTask" property="todoTask" />
        <result column="taskScore" property="taskScore" />
        <result column="postCount" property="postCount" />
        <result column="planTime" property="planTime" />
        <result column="comTime" property="comTime" />
        <result column="taskStatusID" property="taskStatusID" />
        <result column="taskDetails" property="taskDetails" />
    </resultMap>

    <resultMap id="TodolistInfo" type="com.cnpc.server.pojo.Todolist" extends="BaseResultMap">
        <association property="adminName" javaType="com.cnpc.server.pojo.AdminName">
            <id column="aid" property="id" />
            <result column="aname" property="name" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userID, todoTask, taskScore, postCount, planTime, comTime, taskStatusID, taskDetails
    </sql>

    <!--查询完成或删除待办-->
    <select id="getTodolistByPage" resultMap="TodolistInfo">
        SELECT
            t.*,
            a.id AS aid,
            a.`name` AS aname

        FROM
            todolist t,
            t_admin a

        WHERE
            t.userID = a.id
          AND
            t.userID = #{userID}
          AND
            t.taskStatusID = #{taskStatusID}
        ORDER BY t.planTime
    </select>

    <!--查询新建/进行中/逾期待办-->
    <select id="getInitTodolistByPage" resultMap="TodolistInfo">
        SELECT
            t.*,
            a.id AS aid,
            a.`name` AS aname

        FROM
            todolist t,
            t_admin a

        WHERE
            t.userID = a.id
          AND
            t.userID = #{userID}
          AND
            (
                    t.taskStatusID = '新建'
                    OR
                    t.taskStatusID = '进行中'
                    OR
                    t.taskStatusID = '逾期'
                )
        ORDER BY t.taskStatusID DESC, t.planTime
    </select>

    <!--完成待办-->
    <update id="comTaskById" statementType="CALLABLE">
        UPDATE todolist
        SET taskStatusID = '完成', comTime = CURRENT_DATE
        WHERE
            id = #{id}
    </update>

    <!--删除待办-->
    <update id="deleteTaskById" statementType="CALLABLE">
        UPDATE todolist
        SET taskStatusID = '删除'
        WHERE
            id = #{id}
    </update>

    <!--重用待办-->
    <update id="redoTaskById" statementType="CALLABLE">
        UPDATE todolist
        SET taskStatusID = '进行中'
        WHERE
            id = #{id}
    </update>

    <!--更新待办状态-->
    <update id="updateTaskStatus" statementType="CALLABLE">
        UPDATE todolist t
        SET t.taskStatusID = '逾期'
--             t.postCount =  t.postCount + 1,
--             t.planTime = DATE_ADD(t.planTime,INTERVAL 1 WEEK)
        WHERE
            t.taskStatusID = '进行中'
          AND
            t.planTime &lt; #{format}
    </update>

    <!--查询所有人新建/进行中/逾期待办-->
    <select id="getAllInitTodolistByPage" resultMap="TodolistInfo">
        SELECT
            t.*,
            a.id AS aid,
            a.`name` AS aname

        FROM
            todolist t,
            t_admin a

        WHERE
            t.userID = a.id
          AND
            (
                    t.taskStatusID = '新建'
                    OR
                    t.taskStatusID = '进行中'
                    OR
                    t.taskStatusID = '逾期'
                )
        ORDER BY t.userID, t.taskStatusID DESC, t.planTime
    </select>

    <!--查询所有人完成或删除待办-->
    <select id="getAllTodolistByPage" resultMap="TodolistInfo">
        SELECT
            t.*,
            a.id AS aid,
            a.`name` AS aname

        FROM
            todolist t,
            t_admin a

        WHERE
            t.userID = a.id
          AND
            t.taskStatusID = #{taskStatusID}
        ORDER BY t.userID, t.planTime
    </select>

    <!--查询所有人本周待办/删除不看-->
    <select id="getAllTodolist" resultMap="TodolistInfo">
        SELECT
            t.*,
            a.id AS aid,
            a.`name` AS aname

        FROM
            todolist t,
            t_admin a
        WHERE
            t.userID = a.id
          AND
            ((t.planTime BETWEEN #{startDate} AND  #{endDate} OR t.taskStatusID = '逾期') OR (t.comTime BETWEEN #{startDate} AND  #{endDate}))
          AND
            taskStatusID != '删除'
        ORDER BY t.userID, t.taskStatusID DESC
    </select>

    <!--查询所有人上周待办/删除不看-->
    <select id="getAllLastTodolist" resultMap="TodolistInfo">
        SELECT
            t.*,
            a.id AS aid,
            a.`name` AS aname

        FROM
            todolist t,
            t_admin a
        WHERE
            t.userID = a.id
          AND
            t.comTime BETWEEN #{startDate} AND  #{endDate}
          AND
            taskStatusID != '删除'
        ORDER BY t.userID, t.taskStatusID DESC
    </select>



</mapper>
